%html
  %head
    %title sun moon stars rain
    - ["jquery-1.4.1", "jquery.timeago", "swfobject", "FABridge", "web_socket"].each do |js|
      %script{ :type => "text/javascript", :src => "/js/#{js}.js" }
    %script{ :type => "text/javascript", :src => "http://pusherapp.com/js/v1/pusher.js?" }
  %body
    #container
      #header
        .wrapper
          %h1 Sun Moon Stars Rain
      #content
        .wrapper
          = yield