.wrapper
  %form#post_form{ :method => 'post', :action => '/new_post' }
    %fieldset
      %legend Title
      %input{ :type => "text", :name => "post[title]" }
    %fieldset
      %legend Body
      %textarea{ :name => "post[body]", :rows => 5, :cols => 80 }
    %fieldset
      %input{ :type => "submit", :name => "submit", :value => "Add This Post" }

%ul#menu
  %li
    %a#new-post{ :href => "#new_post" } New Post

%ul#posts
  - @pagination.each do |post|
    %li.post{ :id => "post-#{post.id}" }
      .wrapper
        %span.thread-link
          %a{ :href => "/post/#{post.id}" }= post[:title]
        %span.new-replies
          (
          %span.count> 0
          &nbsp;new replies)
